@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600;700;900&display=swap');

* {
    font-family: 'Biryani';
}

:root {
    --font-size-title: 40px;
    --font-size-sub-title: 16px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

h1,
h2,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    max-width: max-content;
}

.area_whatsapp {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 0;
}

.area_whatsapp a {
    height: 68px;
}

.area_whatsapp img {
    width: 100%;
    max-width: 68px;
    height: 68px;
}

.logo_desktop {
    max-width: max-content;
    width: 100%;
}

/*Menu*/

header {
    width: 100%;
    position: relative;
    z-index: 1;
}

.menu_open {
    display: none;
}

.close {
    display: none;
}

.menu_mobile {
    display: none;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.area_menu a {
    display: flex;
}

nav {
    width: 100%;
    max-width: max-content;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    max-width: max-content;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}


/*Home*/
.container_home {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F9FFFF;
    padding: 40px 0px 0px 0px;
}

.container_home_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.area_texts_home {
    display: flex;
    flex-direction: column;
    max-width: 525px;
    width: 100%;
    gap: 20px;
}

.title_home h2 {
    color: #2E3033;
    font-size: 48px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.92px;
}

.title_home h2 b {
    color: #0462B4;
    font-weight: 700;
}

.sub_title_home p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.btn_home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: linear-gradient(87deg, #0462B4 0%, #04ADBF 100%);
    width: 100%;
    max-width: 170px;
    padding: 13px 15px 13px 15px;
}

.btn_home h2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
}

.bg_section_1 {
    max-width: max-content;
    width: 100%;
}

/*Modelo tradicional*/
.container_modelo_tradicional {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 40px 0px;
    position: relative;
    z-index: 0;
}

.container_modelo_tradicional_int {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.area_modelo_tradicional {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.modelo_tradicional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #FFF;
    background: linear-gradient(to bottom right, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) top right / 50% 50% no-repeat;
    padding: 30px 30px;
}


.modelo_tradicional_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #FFF;
    background: linear-gradient(to bottom right, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) top right / 50% 50% no-repeat;
    padding: 30px 30px;
}

.area_text_tradicional {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 420px;
}

.title_tradicional h2 {
    color: #2E3033;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 100%;
    /* 135% */
    letter-spacing: -1.6px;
}

.sub_title_tradicional p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sub_title_tradicional p b {
    color: #0462B4;
    font-weight: 900;
}

.area_img_tradicional {
    position: relative;
    display: flex;
    z-index: 1;
}

.tradicional {
    max-width: max-content;
    width: 100%;
    border-radius: 25px;
    height: auto;
}

.box_1 {
    position: absolute;
    bottom: -12px;
    left: -12px;
    border-radius: 20px;
    max-width: 186px;
    height: 186px;
    width: 100%;
    background-color: #174873;
    z-index: -1;
}

.box_2 {
    position: absolute;
    top: -12px;
    right: -12px;
    border-radius: 20px;
    max-width: 186px;
    height: 186px;
    width: 100%;
    background-color: #00AEC4;
    z-index: -1;
}

.btn_tradicional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: linear-gradient(90deg, #0462B4 0%, #04ADBF 100%);
    width: 100%;
    max-width: 170px;
    padding: 13px 15px 13px 15px;
}

.btn_tradicional h2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
}


/*Nosso modelo*/
.container_nosso_modelo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 60px 0px;
}

.container_nosso_modelo_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_nosso_modelo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.area_title_nosso_modelo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 730px;
    gap: 20px;
}

.sub_title_nosso_modelo p {
    color: #00AEC4;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 8px;
    text-transform: uppercase;
}


.title_nosso_modelo h2 {
    color: #2E3033;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.6px;
}

.info_nosso_modelo p {
    color: #2E3135;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

.info_nosso_modelo p b {
    font-weight: 900;
}

.area_icones_modelos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.area_proposta {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    width: 100%;
    border-radius: 40px;
    background: #0462B4;
    padding: 25px 0px 25px 0px;
    box-shadow: 0px 0px 0px 8px #E1F1FF;
    transition: all ease 200ms;
}

.area_proposta:hover {
    background: #04ADBF;
    box-shadow: 0px 0px 0px 8px #DBFCFF;
}

.title_proposta h2 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
}

.area_sets_proposta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 264px;
}

.area_sets_proposta svg path {
    transition: all ease 200ms;
}

.area_sets_proposta:hover svg path {
    fill: #04ADBF;
}

.area_sets_proposta_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 288px;
}

.area_sets_proposta_2 svg path {
    transition: all ease 200ms;
}

.area_sets_proposta_2:hover svg path:first-of-type {
    fill: #0062B1;
}

.area_sets_proposta_2:hover svg path {
    fill: #04ADBF;
}

.area_sets_proposta_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 545px;
}

.area_sets_proposta_3 svg path {
    transition: all ease 200ms;
}

.area_sets_proposta_3:hover svg path:first-of-type {
    fill: #0062B1;
}

.area_sets_proposta_3:hover svg path {
    fill: #04ADBF;
}

.area_circulos_proposta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 380px;
    text-align: center;
}

.area_circulos_proposta_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 640px;
    text-align: center;
}

.circulo_proposta {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0462B4;
    height: 154px;
    width: 100%;
    max-width: 154px;
    box-shadow: 0px 0px 0px 8px #E1F1FF;
    border-radius: 200px;
    transition: all ease 200ms;
}

.circulo_proposta:hover {
    background: #04ADBF;
    box-shadow: 0px 0px 0px 8px #DBFCFF;
}


.title_circulo h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
}

/*Agentes*/

.container_agentes {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to top left, #ffffff, #59e0ef33), linear-gradient(to top left, #59e0ef33, #59e0ef0c), linear-gradient(to bottom left, #ffffff, #59e0ef0c), linear-gradient(to top left, #ffffff, #59e0ef0c);
    padding: 60px 0px 60px 0px;
}

.container_agentes_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_agentes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.title_agentes h2 {
    color: #2E3033;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 135%;
    letter-spacing: -1.6px;
    text-align: center;
}

.area_agentes_fundamentais {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%;
}

.area_agentes_info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 280px;
}

.agentes_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title_agentes_info h2 {
    color: #2E3135;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

.sub_title_agentes_info p {
    color: #2E3135;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
}


.agentes_img {
    max-width: max-content;
    width: 100%;
}

/*Plataforma*/

#container_plataforma {
    background-image: url(../img/bg_plataforma.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.container_plataforma {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_plataforma_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_plataforma {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    max-width: 670px;
    width: 100%;
}

.area_plataforma img {
    max-width: max-content;
    width: 100%;
}

.title_plataforma h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
}


.sub_title_plataforma p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 125%;
}

.btn_plataforma {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    background: #04ADBF;
    width: 100%;
    max-width: 170px;
    padding: 13px 15px 13px 15px;
}

.btn_plataforma h2 {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 4px;
}

/*Ecossistema*/

.container_ecossistema {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 0px 0px;
}

.container_ecossistema_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_ecossistema {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.area_texts_ecossistema {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    max-width: 740px;
}

.title_ecossistema h2 {
    color: #2E3033;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.6px;
}

.sub_title_ecossistema p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: 130%;
}

.area_cards_swiper {
    border-radius: 4px;
    background: linear-gradient(38deg, #0462B4 -2.51%, #04ADBF 102.33%);
    width: 100%;
    max-width: 325px;
    height: 325px;
    padding: 20px 20px;
}

.swiper {
    width: 100%;
    height: 100%;
    z-index: 0 !important;
}

.swiper .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #04ADBF !important;
    height: 12px;
    width: 12px;
    opacity: 1;
}

.swiper-pagination-bullet {
    height: 12px !important;
    width: 12px !important;
    background: #0470B6 !important;
    opacity: 1 !important;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: -10px !important;
}

.swiper-wrapper {
    padding: 20px 0px;
}

.area_cards_swiper_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.numero_swiper h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
}

.title_swiper h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
}

.sub_title_swiper p {
    color: #FFF;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}


/*Processos*/
.container_processos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_processos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_processos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.area_texts_processos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.title_processos h2 {
    color: #2E3033;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 135%;
    letter-spacing: -1.6px;
}

.sub_title_processos p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: normal;
}

.sub_title_processos p b {
    color: #0466B5;
    font-weight: 900;
}

.processos_img {
    max-width: max-content;
    width: 100%;
    height: auto;
}

/*Sindico*/
.container_sindico {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 60px 0px;
}

.container_sindico_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_sindico {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.info_sindico {
    max-width: 740px;
    width: 100%;
}

.info_sindico p {
    color: #2E3135;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
}

.info_sindico p b {
    color: #0466B5;
}


.area_cards_sindico {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.card_sindico {
    width: 100%;
    max-width: 440px;
    height: 300px;
    border-radius: 25px;
    border: 1px solid #FFF;
    background: linear-gradient(to bottom right, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, rgba(0, 175, 195, 0.18) 0%, rgba(4, 104, 181, 0.06) 50%) top right / 50% 50% no-repeat;
    padding: 40px 35px 40px 35px;
}

.card_sindico_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.area_icon_sindico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    background: #C0E2FF;
}

.title_sindico h2 {
    color: #2E3135;
    font-size: 24px;
    font-weight: 900;
    line-height: 140%;
}

.sub_tittle_sindico p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: 130%;
}


/*Custos*/

.area_custos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
}

.notebook {
    max-width: max-content;
    width: 100%;
    position: relative;
    left: 60px;
    z-index: -1;
}

.area_texts_custos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 440px;
}

.title_custos h2 {
    color: #2E3033;
    font-size: var(--font-size-title);
    font-weight: 700;
    line-height: 70%;
    letter-spacing: -1.6px;
}

.sub_title_custos p {
    color: #2E3135;
    font-size: var(--font-size-sub-title);
    font-weight: 600;
    line-height: 130%;
}

footer {
    width: 100%;
    background: #003C6B;
    padding: 40px 0px 20px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.area_logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 200px;
}

.moviva_logo_branco {
    max-width: max-content;
    width: 100%;
}

.info_logo_footer p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

.area_menu_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
}

.infos_footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: max-content;
}

.menu_footer p {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
}

.copy p {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.copy p a {
    text-decoration: none;
    color: #FFF;
}

@media(max-width: 1024px) {
    :root {
        --font-size-title: 36px;
    }

    .area_menu {
        padding: 20px 20px 0px 20px;
    }

    .menu_mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1280px;
        padding: 20px 20px 0px 20px;
    }

    @keyframes move {
        0% {
            right: -100%;

        }

        100% {
            right: 0px;
        }

    }

    .menu_open {
        display: flex;
    }

    .close {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #container_menu {
        display: none;
        width: 100%;
        height: 100vh;
        opacity: 0.9;
        background: linear-gradient(to top left, #ffffff, #59e0ef33), linear-gradient(to top left, #59e0ef33, #59e0ef0c), linear-gradient(to bottom left, #ffffff, #59e0ef0c), linear-gradient(to top left, #ffffff, #59e0ef0c);
        position: fixed;
        top: 0px;
        z-index: 99;
        transition: all ease 400ms;
    }

    .container_menu {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .container_menu_int {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .area_menu {
        flex-direction: column;
        width: 100%;
    }

    .area_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 40px;
    }

    .area_close_int {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1220px;
    }

    .close {
        cursor: pointer;
        max-width: max-content;
        width: 100%;
    }

    .close:hover>rect {
        fill: #FAB013;
    }

    .area_menu nav {
        width: 100%;
    }

    .area_menu nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .logo_desktop {
        display: none;
    }

    nav ul li a {
        font-size: 30px;
    }

    .area_menu nav ul a {
        color: #2E3033;
        font-size: var(--font-size-title);
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.6px;
    }

    .area_menu nav ul a li:hover {
        background: var(--degrade);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .area_home {
        flex-direction: column;
        gap: 40px;
        padding: 0px 20px;
    }

    .area_texts_home {
        text-align: center;
        align-items: center;
    }

    .title_home h2 {
        font-size: 32px;
        line-height: 110%;
    }

    .btn_home {
        padding: 10px 12px 10px 12px;
    }

    /*Modelo tradicional*/
    .container_modelo_tradicional {
        padding: 40px 0px 40px 0px;
    }

    .modelo_tradicional {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .btn_tradicional {
        padding: 10px 12px 10px 12px;
    }

    .modelo_tradicional_2 {
        flex-direction: column;
        gap: 40px;
    }

    .area_text_tradicional {
        max-width: 545px;
        gap: 20px;
    }

    /*Nosso modelo*/
    .container_nosso_modelo {
        padding: 20px 0px 40px 0px;
    }

    .area_proposta {
        padding: 20px 0px 20px 0px;
    }

    .area_nosso_modelo {
        padding: 0px 20px;
    }

    .circulo_proposta {
        width: 100%;
        max-width: 100px;
        height: 100px;
    }

    .title_proposta h2 {
        font-size: 20px;
    }

    .title_circulo h2 {
        font-size: 13px;
    }

    .area_sets_proposta {
        max-width: 310px;
    }

    .area_sets_proposta svg {
        width: 30px;
    }

    .area_sets_proposta_2 {
        max-width: 330px;
    }

    .area_sets_proposta_2 svg {
        width: 50px;
    }

    .area_sets_proposta_3 {
        max-width: 590px;
    }

    .area_sets_proposta_3 svg {
        width: 50px;
    }

    /*Ecossistema*/
    .container_ecossistema {
        padding: 40px 0px 0px 0px;
    }

    .area_ecossistema {
        gap: 10px;

    }

    .area_texts_ecossistema {
        padding: 0px 20px;
        width: auto;
    }


    /*Agentes*/
    .container_agentes {
        padding: 40px 0px 40px 0px;
    }

    .area_agentes_fundamentais {
        flex-direction: column;
        padding: 0px 20px;
        width: auto;
        gap: 20px;
    }

    .area_agentes_info {
        text-align: center;
    }

    .agentes_info {
        align-items: center;
        gap: 15px;
    }

    .agentes_img {
        max-width: 480px;
        width: 100%;
    }

    /*Plataforma*/
    .container_plataforma {
        padding: 40px 0px 40px 0px;
    }

    .title_plataforma h2 {
        font-size: 28px;
    }

    /*Processos*/
    .container_processos {
        padding: 40px 0px 40px 0px;
    }

    .area_processos {
        flex-direction: column;
        padding: 0px 20px;
    }

    .btn_plataforma {
        padding: 10px 12px 10px 12px;
    }

    .processos_img {
        max-width: 480px;
    }

    .area_texts_processos {
        max-width: 600px;
    }

    .area_sindico {
        padding: 0px 20px;

    }

    .area_cards_sindico {
        flex-direction: column;
    }

    .area_custos {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .notebook {
        left: 0px;
        z-index: 0;
        max-width: 650px;
    }

    .container_footer_int {
        padding: 0px 20px;
    }

    .area_footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .infos_footer {
        max-width: 210px;
        width: 100%;
    }

    .area_logo_footer {
        align-items: flex-start;
        max-width: 210px;
    }

    .area_menu_footer {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .card_sindico {
        padding: 30px 25px 30px 25px;
    }

    .info_sindico p {
        font-size: 20px;
    }

}

@media(max-width:480px) {
    :root {
        --font-size-title: 30px;
        --font-size-sub-title: 14px;
    }

    .area_cards_swiper {
        height: 240px;
    }


    .box_1 {
        bottom: -10px;
        left: -6px;
        border-radius: 20px;
        max-width: 150px;
        height: 150px;
    }

    .box_2 {
        top: -10px;
        right: -6px;
        border-radius: 20px;
        max-width: 150px;
        height: 150px;
    }

    .area_plataforma {
        padding: 0px 20px;
        gap: 20px;
    }

    .title_plataforma h2 {
        font-size: 24px;
    }

    .area_whatsapp img {
        width: 100%;
        max-width: 60px;
        height: 60px;
    }

    .area_whatsapp a {
        height: 60px;
    }

    .card_sindico {
        padding: 25px 20px 25px 20px;
        height: auto;
        width: auto;
    }

    .info_sindico p {
        font-size: 18px;
    }

    .title_sindico h2 {
        font-size: 20px;
    }

    .area_footer {
        align-items: flex-start;
    }

    .area_menu_footer {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .container_footer_int {
        gap: 20px;
    }


}